.filter-panel {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .filter-panel h5 {
    margin-bottom: 1rem;
  }
  
  .filter-panel .form-label {
    font-weight: bold;
  }
  
  .filter-panel .form-select,
  .filter-panel .form-range,
  .filter-panel .form-check-input {
    margin-bottom: 1rem;
  }
  
  .filter-panel .btn {
    margin-top: 1rem;
  }
  
  .filter-panel .d-flex {
    margin-bottom: 0.5rem;
  }
  
  .horizontal-slider {
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
  }
  
  .thumb {
    height: 20px;
    width: 20px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
    top: 50%; /* Align the thumb vertically */
    transform: translateY(-40%); /* Center the thumb */
  }
  
  .track {
    top: 50%;
    height: 4px;
    background: #ddd;
  }