/* /src/components/Header.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    background-color: #0b8b32;
    padding: 0 20px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 80%;
    margin-left: 30px;
}

.logo-image {
    width: 100%;
    height: 100%;
}

.search-bar {
    width: 700px;
    max-width: 700px;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-left: 50px;
}

.profile-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
        align-items: stretch;
        height: auto;
        padding: 10px;
    }

    .logo-button {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-bar {
        width: 100%;
        max-width: none;
        margin: 10px 0;
    }

    .profile-button {
        margin-top: 10px;
    }

    .cart-button {
        margin-top: 10px;
    }
}

.cart-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px
}

.cart-icon {
    width: 30px;
    height: 30px;
    position: relative;
}

.cart-count {
    position: absolute;
    top: 10px;
    right: 45px;
    background-color: rgba(148, 25, 6, 0.866);
    color: white;
    border-radius: 60%;
    padding: 2px 6px;
    font-size: 10px;
}
